<div>
    <div class="flex justify-center">
        <h1 class="mb-4 text-xl font-extrabold leading-none tracking-tight text-gray-900 md:text-xl lg:text-3xl dark:text-white">Employee List</h1>
    </div>

    <div class="flex justify-center">
        <div class="relative lg:w-3/4 xl:3/4 m-4 p-4 shadow">
            <div class="flex justify-between pb-4 bg-white dark:bg-gray-900">
                <div>
                    <button 
                        type="button" 
                        class="cursor-pointer text-white hover:text-white border bg-blue-500 hover:bg-blue-800 font-medium rounded-lg text-xs px-2 py-2.5 text-center me-2 mb-2"
                        (click)="ToAddEmployeePage()"
                    >
                                Add Employee
                    </button>
                </div>
                <div>
                    <label for="table-search" class="sr-only">Search</label>
                    <div>
                        <input 
                            type="text" 
                            class="block p-2 text-sm text-gray-900 border border-gray-300 rounded-lg w-80 bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" 
                            placeholder="Search Employee"
                            (input)="onSearchChange($event)"
                            [ngModel]="searchValue"
                        >
                    </div>
                </div>
            </div>
            <div class="xl:h-[480px] lg:h-[360px] md:h-[280px] overflow-x-auto">
                <table class="w-full text-sm text-left rtl:text-right text-gray-500 shadow  min-h-14 max-h-[480px]">
                    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 ">
                        <tr>
                            <th scope="col" class="px-6 py-3" (click)="sort('userName')">
                                <div class="flex">
                                    Username 
                                    @if(sortState.column === 'userName'){
                                        @if(sortState.asc){
                                            <span>
                                                <svg class="w-3 h-3 ms-1.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
                                                    <path d="M8.574 11.024h6.852a2.075 2.075 0 0 0 1.847-1.086 1.9 1.9 0 0 0-.11-1.986L13.736 2.9a2.122 2.122 0 0 0-3.472 0L6.837 7.952a1.9 1.9 0 0 0-.11 1.986 2.074 2.074 0 0 0 1.847 1.086Zm6.852"/>
                                                  </svg>
                                            </span>
                                        }@else{
                                            <span>
                                                <svg class="w-3 h-3 ms-1.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
                                                    <path d="M8.574 1.952H8.574a2.072 2.072 0 0 0-1.847 1.087 1.9 1.9 0 0 0 .11 1.985l3.426 5.05a2.123 2.123 0 0 0 3.472 0l3.427-5.05a1.9 1.9 0 0 0 .11-1.985 2.074 2.074 0 0 0-1.846-1.087Z"/>
                                                </svg>
                                            </span>
                                        }
                                    }@else{
                                        <span>
                                            <svg class="w-3 h-3 ms-1.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
                                                <path d="M8.574 11.024h6.852a2.075 2.075 0 0 0 1.847-1.086 1.9 1.9 0 0 0-.11-1.986L13.736 2.9a2.122 2.122 0 0 0-3.472 0L6.837 7.952a1.9 1.9 0 0 0-.11 1.986 2.074 2.074 0 0 0 1.847 1.086Zm6.852 1.952H8.574a2.072 2.072 0 0 0-1.847 1.087 1.9 1.9 0 0 0 .11 1.985l3.426 5.05a2.123 2.123 0 0 0 3.472 0l3.427-5.05a1.9 1.9 0 0 0 .11-1.985 2.074 2.074 0 0 0-1.846-1.087Z"/>
                                              </svg>
                                        </span>
                                    }
                                </div>
                                
                            </th>
                            <th scope="col" class="px-6 py-3" (click)="sort('email')">
                                <div class="flex">
                                    Email 
                                    @if(sortState.column === 'email'){
                                        @if(sortState.asc){
                                            <span>
                                                <svg class="w-3 h-3 ms-1.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
                                                    <path d="M8.574 11.024h6.852a2.075 2.075 0 0 0 1.847-1.086 1.9 1.9 0 0 0-.11-1.986L13.736 2.9a2.122 2.122 0 0 0-3.472 0L6.837 7.952a1.9 1.9 0 0 0-.11 1.986 2.074 2.074 0 0 0 1.847 1.086Zm6.852"/>
                                                  </svg>
                                            </span>
                                        }@else{
                                            <span>
                                                <svg class="w-3 h-3 ms-1.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
                                                    <path d="M8.574 1.952H8.574a2.072 2.072 0 0 0-1.847 1.087 1.9 1.9 0 0 0 .11 1.985l3.426 5.05a2.123 2.123 0 0 0 3.472 0l3.427-5.05a1.9 1.9 0 0 0 .11-1.985 2.074 2.074 0 0 0-1.846-1.087Z"/>
                                                </svg>
                                            </span>
                                        }
                                    }@else{
                                        <span>
                                            <svg class="w-3 h-3 ms-1.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
                                                <path d="M8.574 11.024h6.852a2.075 2.075 0 0 0 1.847-1.086 1.9 1.9 0 0 0-.11-1.986L13.736 2.9a2.122 2.122 0 0 0-3.472 0L6.837 7.952a1.9 1.9 0 0 0-.11 1.986 2.074 2.074 0 0 0 1.847 1.086Zm6.852 1.952H8.574a2.072 2.072 0 0 0-1.847 1.087 1.9 1.9 0 0 0 .11 1.985l3.426 5.05a2.123 2.123 0 0 0 3.472 0l3.427-5.05a1.9 1.9 0 0 0 .11-1.985 2.074 2.074 0 0 0-1.846-1.087Z"/>
                                              </svg>
                                        </span>
                                    }
                                </div>
                            </th>
                            <th scope="col" class="px-6 py-3" (click)="sort('status')">
                                <div class="flex">
                                    Status 
                                    @if(sortState.column === 'status'){
                                        @if(sortState.asc){
                                            <span>
                                                <svg class="w-3 h-3 ms-1.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
                                                    <path d="M8.574 11.024h6.852a2.075 2.075 0 0 0 1.847-1.086 1.9 1.9 0 0 0-.11-1.986L13.736 2.9a2.122 2.122 0 0 0-3.472 0L6.837 7.952a1.9 1.9 0 0 0-.11 1.986 2.074 2.074 0 0 0 1.847 1.086Zm6.852"/>
                                                  </svg>
                                            </span>
                                        }@else{
                                            <span>
                                                <svg class="w-3 h-3 ms-1.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
                                                    <path d="M8.574 1.952H8.574a2.072 2.072 0 0 0-1.847 1.087 1.9 1.9 0 0 0 .11 1.985l3.426 5.05a2.123 2.123 0 0 0 3.472 0l3.427-5.05a1.9 1.9 0 0 0 .11-1.985 2.074 2.074 0 0 0-1.846-1.087Z"/>
                                                </svg>
                                            </span>
                                        }
                                    }@else{
                                        <span>
                                            <svg class="w-3 h-3 ms-1.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
                                                <path d="M8.574 11.024h6.852a2.075 2.075 0 0 0 1.847-1.086 1.9 1.9 0 0 0-.11-1.986L13.736 2.9a2.122 2.122 0 0 0-3.472 0L6.837 7.952a1.9 1.9 0 0 0-.11 1.986 2.074 2.074 0 0 0 1.847 1.086Zm6.852 1.952H8.574a2.072 2.072 0 0 0-1.847 1.087 1.9 1.9 0 0 0 .11 1.985l3.426 5.05a2.123 2.123 0 0 0 3.472 0l3.427-5.05a1.9 1.9 0 0 0 .11-1.985 2.074 2.074 0 0 0-1.846-1.087Z"/>
                                              </svg>
                                        </span>
                                    }
                                </div>
                            </th>
                            <th scope="col" class="px-6 py-3" (click)="sort('basicSalary')">
                                <div class="flex">
                                    Basic Salary 
                                    @if(sortState.column === 'basicSalary'){
                                        @if(sortState.asc){
                                            <span>
                                                <svg class="w-3 h-3 ms-1.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
                                                    <path d="M8.574 11.024h6.852a2.075 2.075 0 0 0 1.847-1.086 1.9 1.9 0 0 0-.11-1.986L13.736 2.9a2.122 2.122 0 0 0-3.472 0L6.837 7.952a1.9 1.9 0 0 0-.11 1.986 2.074 2.074 0 0 0 1.847 1.086Zm6.852"/>
                                                  </svg>
                                            </span>
                                        }@else{
                                            <span>
                                                <svg class="w-3 h-3 ms-1.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
                                                    <path d="M8.574 1.952H8.574a2.072 2.072 0 0 0-1.847 1.087 1.9 1.9 0 0 0 .11 1.985l3.426 5.05a2.123 2.123 0 0 0 3.472 0l3.427-5.05a1.9 1.9 0 0 0 .11-1.985 2.074 2.074 0 0 0-1.846-1.087Z"/>
                                                </svg>
                                            </span>
                                        }
                                    }@else{
                                        <span>
                                            <svg class="w-3 h-3 ms-1.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
                                                <path d="M8.574 11.024h6.852a2.075 2.075 0 0 0 1.847-1.086 1.9 1.9 0 0 0-.11-1.986L13.736 2.9a2.122 2.122 0 0 0-3.472 0L6.837 7.952a1.9 1.9 0 0 0-.11 1.986 2.074 2.074 0 0 0 1.847 1.086Zm6.852 1.952H8.574a2.072 2.072 0 0 0-1.847 1.087 1.9 1.9 0 0 0 .11 1.985l3.426 5.05a2.123 2.123 0 0 0 3.472 0l3.427-5.05a1.9 1.9 0 0 0 .11-1.985 2.074 2.074 0 0 0-1.846-1.087Z"/>
                                              </svg>
                                        </span>
                                    }
                                </div>
                            </th>
                            <th scope="col" class="px-6 py-3 text-balance">
                                Action
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (employee of displayedEmployeList; track employee) {
                        <tr class="hover:bg-gray-100 bg-white border-b" (click)="ToEmployeeDetailPage(employee)">
                            <td class="cursor-pointer px-6 py-4">
                                {{employee.userName}}
                            </td>
                            <td class="cursor-pointer px-6 py-4">
                                {{employee.email}}
                            </td>
                            <td class="cursor-pointer px-6 py-4">
                                {{employee.status}}
                            </td>
                            <td class="cursor-pointer px-6 py-4">
                                {{IDR.format(employee.basicSalary)}}
                            </td>
                            <td class="py-4" (click)="stopPropagation($event)">
                                <button 
                                    type="button" 
                                    class="cursor-pointer text-yellow-400 hover:text-white border border-yellow-400 hover:bg-yellow-500 font-medium rounded-lg text-xs px-2 py-2.5 text-center me-2 mb-2"
                                    (click)="callDialog('edit',employee.userName)"
                                >
                                    Edit
                                </button>
                                <button 
                                    type="button" 
                                    class="cursor-pointer text-red-700 hover:text-white border border-red-700 hover:bg-red-800 font-medium rounded-lg text-xs px-2 py-2.5 text-center me-2 mb-2"
                                    (click)="callDialog('delete', employee.userName)"
                                >
                                    Delete
                                </button>
                            </td>
                        </tr>
                        }
                        @if (displayedEmployeList.length < 1) {
                            <tr class="bg-white border-b">
                                <td colspan="6" class="text-center">No Employee Found</td>
                            </tr>
                            }
                    </tbody>
                </table>
            </div>
            
            <nav class="flex items-center flex-column flex-wrap md:flex-row justify-between pt-4" aria-label="Table navigation">
                <span>
                <select 
                    #pageOption
                    (change)="onPerPageChange(pageOption.value)" 
                    [value]="paginationState.perPage"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                >
                    <option value="5">5</option>
                    <option value="10">10</option>
                    <option value="25">25</option>
                    <option value="50">50</option>
                  </select>
                </span>
                @if(displayedEmployeList.length > 0){
                    <span class="text-sm font-normal text-gray-500 mb-4 md:mb-0 block w-full md:inline md:w-auto">Showing <span class="font-semibold text-gray-900 ">{{(paginationState.currentPage-1)*paginationState.perPage+1}}-{{paginationState.perPage * paginationState.currentPage >= paginationState.total ? paginationState.total : paginationState.perPage * paginationState.currentPage }} employee</span> of <span class="font-semibold text-gray-900">{{paginationState.total}}</span></span>
                }
                <ul class="inline-flex -space-x-px rtl:space-x-reverse text-sm h-8">
                    <li>
                        @if(!paginationState.firstPage){
                            <button 
                                (click)="onPageChange('prev')"
                                class="flex items-center justify-center px-3 h-8 ms-0 leading-tight text-gray-500 bg-white border border-gray-300 rounded-s-lg hover:bg-gray-100 hover:text-gray-700 "
                            >
                                Previous
                            </button>
                        }@else{
                            <button 
                                class="cursor-not-allowed flex items-center justify-center px-3 h-8 ms-0 leading-tight text-gray-500 bg-white border border-gray-300 rounded-s-lg hover:bg-gray-100 hover:text-gray-700 "
                            >
                                Previous
                            </button>
                        }
                        
                    </li>
                    <li>
                        @if(!paginationState.lastPage){
                        <button 
                            (click)="onPageChange('next')"
                            class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 rounded-e-lg hover:bg-gray-100 hover:text-gray-700 "
                        >
                            Next
                        </button>
                        }@else{
                        <button 
                            class="cursor-not-allowed flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 rounded-e-lg hover:bg-gray-100 hover:text-gray-700 "
                        >
                            Next
                        </button>
                        }
                    </li>
                </ul>
            </nav>
        </div>
    </div>

    @if(showModal && modalData){
        <div class="border-b-2 backdrop-blur-sm overflow-x-hidden overflow-y-auto fixed inset-0 z-50 outline-none focus:outline-none justify-center items-center flex">
            <div class="relative p-4 w-full max-w-md max-h-full">
                <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
                    @if(modalData.action === 'edit'){
                        <div class="p-2 bg-yellow-500 flex border-b-2 border-yellow-200">
                            <button (click)="toogleModal()" type="button" class="relative text-slate-600 bg-yellow-200 hover:bg-yellow-400 hover:text-gray-900 rounded-lg text-xs w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white">
                                <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                                </svg>
                                <span class="sr-only">Close modal</span>
                            </button>
                        </div>
                    }
                    @else if (modalData.action === 'delete') {
                        <div class="p-2 bg-red-500 flex border-b-2 border-red-200">
                            <button (click)="toogleModal()" type="button" class="relative text-slate-600 bg-red-200 hover:bg-red-400 hover:text-gray-900 rounded-lg text-xs w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white">
                                <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                                </svg>
                                <span class="sr-only">Close modal</span>
                            </button>
                        </div>
                    }
                    <div class="p-4 md:p-5 text-center">
                        <h3 class="mb-5 text-lg font-normal text-gray-500 dark:text-gray-400">Are you sure you want to {{ modalData.action }} {{ modalData.id }}?</h3>
                        <button (click)="toogleModal()" type="button" class="text-white bg-red-600 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800 font-medium rounded-lg text-sm inline-flex items-center px-5 py-2.5 text-center">
                            Yes, I'm sure
                        </button>
                        <button (click)="toogleModal()" type="button" class="py-2.5 px-5 ms-3 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">No, cancel</button>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

  

