<div class="lg:flex justify-center">
    <div class="lg:w-1/2 xl:max-w-screen-sm">
        <div class="py-12 bg-indigo-100 lg:bg-white flex justify-center lg:justify-start lg:px-12">
            <div class="cursor-pointer flex items-center">
                <div class="text-2xl text-indigo-800 tracking-wide ml-2 font-semibold">Employee Management</div>
            </div>
        </div>
        <div class="mt-10 px-12 sm:px-24 md:px-48 lg:px-12 lg:mt-16 xl:px-24 xl:max-w-2xl">
            <h2 class="text-center text-4xl text-indigo-900 font-display font-semibold lg:text-left xl:text-5xl
            xl:text-bold">Log in</h2>
            <div class="mt-12">
                <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
                    <div>
                        <div class="text-sm font-bold text-gray-700 tracking-wide">Username</div>
                        <input class="w-full text-lg py-2 border-b border-gray-300 focus:outline-none focus:border-indigo-500" formControlName="userName" type="text" placeholder="Enter username">
                    </div>
                    <div class="mt-8">
                        <div class="flex justify-between items-center">
                            <div class="text-sm font-bold text-gray-700 tracking-wide">
                                Password
                            </div>
                        </div>
                        <input class="w-full text-lg py-2 border-b border-gray-300 focus:outline-none focus:border-indigo-500" type="password" formControlName="password" placeholder="Password">
                    </div>
                    <div class="mt-10">
                        <button class="bg-indigo-500 text-gray-100 p-4 w-full rounded-full tracking-wide
                        font-semibold font-display focus:outline-none focus:shadow-outline hover:bg-indigo-600
                        shadow-lg">
                            Log In
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
