<div>
    <div class="flex justify-center my-2">
        <h1 class="mb-4 text-xl font-extrabold leading-none tracking-tight text-gray-900 md:text-xl lg:text-3xl dark:text-white">Employee Detail</h1>
    </div>
    <div class="flex justify-center my-2">
        <div class="bg-white overflow-hidden shadow rounded-lg border w-1/2">
            <div class="px-4 py-5 sm:px-6 bg-blue-400">
                <h3 class="text-lg leading-6 font-medium font-bold text-gray-100">
                    {{employeeData.userName}}
                </h3>
                <p class="mt-1 max-w-2xl text-sm text-gray-100">
                    This is some information about the {{employeeData.userName}}.
                </p>
            </div>
            <div class="border-t border-gray-200 px-4 py-5 sm:p-0">
                <dl class="sm:divide-y sm:divide-gray-200">
                    <div class="py-3 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-2 sm:px-6">
                        <dt class="text-sm font-medium text-gray-500">
                            Full name
                        </dt>
                        <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                            {{employeeData.firstName}} {{employeeData.lastName}}
                        </dd>
                    </div>
                    <div class="py-3 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-2 sm:px-6">
                        <dt class="text-sm font-medium text-gray-500">
                            Email address
                        </dt>
                        <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                            {{employeeData.email}}
                        </dd>
                    </div>
                    <div class="py-3 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-2 sm:px-6">
                        <dt class="text-sm font-medium text-gray-500">
                            Birth Date
                        </dt>
                        <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                            {{employeeData.birthDate}}
                        </dd>
                    </div>
                    <div class="py-3 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-2 sm:px-6">
                        <dt class="text-sm font-medium text-gray-500">
                            Basic Salary
                        </dt>
                        <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                            {{IDR.format(employeeData.basicSalary)}}
                        </dd>
                    </div>
                    <div class="py-3 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-2 sm:px-6">
                        <dt class="text-sm font-medium text-gray-500">
                            Status
                        </dt>
                        <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                            {{employeeData.status}}
                        </dd>
                    </div>
                    <div class="py-3 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-2 sm:px-6">
                        <dt class="text-sm font-medium text-gray-500">
                            Group
                        </dt>
                        <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                            {{employeeData.group}}
                        </dd>
                    </div>
                </dl>
            </div>
        </div>
    </div>
    <div class="flex justify-center my-2">
        <button 
            type="button" 
            class="cursor-pointer text-white bg-blue-500 border border-blue-400 hover:bg-blue-600 font-medium rounded-lg text-xs px-8 py-2.5 text-center me-2 mb-2"
            (click)="backClicked()"
        >
        OK
        </button>
    </div>
</div>

