<nav class="flex items-center justify-between flex-wrap bg-indigo-500 p-3">
    <div class="flex items-center flex-shrink-0 text-white mr-6 gap-4">
        <img class= "object-cover h-10 w-10 " src="employee.png" />
        <span class="font-semibold text-xl tracking-tight">Employee Management</span>
    </div>
    <div>
        <button type="button" class="text-indigo-500 bg-white hover:bg-indigo-400 hover:text-indigo-200 focus:outline-none font-medium rounded-full text-xs px-5 py-2.5 me-2 mb-2" (click)="ToLoginPage();">Logout</button>
    </div>
</nav>
<div class="lg:flex flex-col m-2 p-2 gap-2">
    <router-outlet></router-outlet>
</div>

